@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 27px;
  height: 3px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #002c58;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(8px);
}

.hamburger-bottom {
  transform: translateY(16px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.animate-right {
  @media (max-width: 768px) {
    transform: translateX(-100%);
    /* transform: translateX(100%); dev ed */
  }
  transition: all 0.55s;
}

.animate-li > li {
  @media (max-width: 768px) {
    opacity: 0;
    transform: translate(5px, 70px);
  }
}

.animate-li > li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
  transition-delay: 0.2s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(2) {
  transition: all 0.5s ease 0.3s;
  transition-delay: 0.3s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(3) {
  transition: all 0.5s ease 0.4s;
  transition-delay: 0.4s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(4) {
  transition: all 0.5s ease 0.5s;
  transition-delay: 0.5s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(5) {
  transition: all 0.5s ease 0.6s;
  transition-delay: 0.6s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(6) {
  transition: all 0.5s ease 0.7s;
  transition-delay: 0.7s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.fade > li {
  opacity: 1;
  transform: translate(0, 0);
}

.active {
  @apply text-teal-600;
}
