@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

/* @TODO: CSS variables, more abstraction and another page, finish footer links */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-heigh: 1.6;
  @apply bg-gray-50;
  @apply font-poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-ubuntu tracking-wide text-gray-800;
}

main p {
  @apply text-gray-500 leading-7;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 27px;
  height: 3px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #e2e8f0;
  transform: rotate(0);
  transition: all 0.5s;
}

.open .hamburger-top,
.open .hamburger-middle,
.open .hamburger-bottom {
  background: #000000;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(8px);
}

.hamburger-bottom {
  transform: translateY(16px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.animate-right {
  @media (max-width: 768px) {
    transform: translateX(-100%);
  }
  transition: all 0.55s;
}

.animate-li > li {
  @media (max-width: 768px) {
    opacity: 0;
    transform: translate(5px, 70px);
  }
}

.animate-li > li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
  transition-delay: 0.2s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(2) {
  transition: all 0.5s ease 0.3s;
  transition-delay: 0.3s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(3) {
  transition: all 0.5s ease 0.4s;
  transition-delay: 0.4s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(4) {
  transition: all 0.5s ease 0.5s;
  transition-delay: 0.5s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(5) {
  transition: all 0.5s ease 0.6s;
  transition-delay: 0.6s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.animate-li > li:nth-child(6) {
  transition: all 0.5s ease 0.7s;
  transition-delay: 0.7s;
  &:hover {
    transition-delay: none;
    transition: all 0.3s;
  }
}

.fade > li {
  opacity: 1;
  transform: translate(0, 0);
}

.active {
  @apply text-teal-600;
}

/* Gears */
.gearbox {
  text-align: center;
  position: relative;
  top: 0px;
  translate: 30%;
  transform: translate(-15%, 0) rotate(-20deg);
  margin: 0 auto 2.5rem;
  max-width: 30%;
  width: 50px;
}

.gear {
  position: relative;
  top: 20px;
  right: 28px;
}

.dark-gear {
  position: relative;
  top: 12px;
  right: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .colored-gear {
    animation: gear-spin-clock infinite 10s linear;
  }
}

@keyframes gear-spin-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dark-gear {
    animation: gear-spin-counter infinite 10s linear;
  }
}

@keyframes gear-spin-counter {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#cta {
  background-color: #002c58;
  /* background-image: url('../images/svg/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover; */
}

/* Pricing */
.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 80%;
}

.prices h2 {
  font-size: 2rem;
  color: #002c58;
}

.price-boxes {
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5rem auto;
}

.price-box {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 0.1px solid rgba(102, 51, 153, 0.08);
  margin: 0 auto 2rem;
  width: 90%;
  button {
    &:hover {
      cursor: pointer;
    }
  }
}

.price-box span {
  display: inline-block;
  padding-bottom: 1.5rem;
}

.price-box.price-box-premium {
  background-color: #c7e3ff;
  border: 0.1px solid rgba(0, 44, 88, 0.1);
}

.price-box.price-box-premium p {
  color: #002c58;
}

.price-box.price-box-premium ul {
  border-top: 1px solid #002c583d;
}

.price-box.price-box-premium ul li {
  border-bottom: 1px solid #002c583d;
}

.price-box ul {
  padding: 0;
  list-style: none;
  border-top: 1px solid #002c583d;
}

.price-box ul li {
  padding: 10px 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #002c583d;
  padding-left: 15px;
}

.price-box h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #002c58;
}

.price-box p {
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.price-box button {
  background-image: linear-gradient(to right, rgb(1, 77, 78), #002c58);
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.5;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .price-box {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .price-box {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .price-box {
    width: 50%;
  }

  .price-boxes {
    display: flex;
    height: 600px;
  }

  .price-box.price-box-premium {
    transform: scale(1.11);
  }
}

@media (min-width: 1200px) {
  .prices {
    margin-bottom: 12rem;
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .prices {
    width: 60%;
  }
  .price-box {
    width: 40%;
  }
}

.parent {
  outline: 5px solid hotpink;
}

.main-with-sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1em;
}

.main-with-sidebar > :first-child {
  flex-basis: 500px;
  flex-grow: 9999; 
  /* this is hacky, but it limits the rate of growth of the aside element */
}

.main-with-sidebar > :last-child {
  flex-basis: 300px;
  flex-grow: 1;
}
